<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Lists of Vets</title>
</head>
<body>
<h2>Veterinarians</h2>

<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Second Name</th>
    </tr>
    </thead>
    <tbody th:each="vet : ${vets}">
    <td th:text="${vet.id}">1</td>
    <td th:text="${vet.firstName}">abc</td>
    <td th:text="${vet.lastName}">xyz</td>
    </tbody>
</table>
</body>
</html>